<div id="preloader" *ngIf="preloader" style="display: block">
  <div class="loader"></div>
</div>
<div class="alert alert-warning mt-3 col-6" *ngIf="!preloader">
  <h1 class="text-center">About application</h1>
  <p>This is a free application for Blogers. You can post on your blog, review or edit posts with this app.</p>
  <p><strong>You can: </strong></p>
  <ul>
    <li>manage multiple accounts and blogs.</li>
    <li>read your blog posts.</li>
    <li>add labels to your articles.</li>
  </ul>
  <p><strong>In addition,</strong></p>
  <p>* More SECURE now</p>
  <p>* No spams!</p>
  <p>* Free application and will remain free</p>
  <hr>
  <p>Your comment here:  <strong>" {{ message }} "</strong></p>
  <p>
    <input type="text" name="comment" placeholder="Enter your comment" #commentInput/>
  </p>
  <button type="button" class="btn btn-success" (click)="addComment() ">Add comment</button>
</div>
