<h1 class="mt-3">Post's details</h1>
<div class="alert alert-info" *ngIf="post">
  <p><strong>{{ post.title }}</strong></p>
  <p style="font-size: 13px">{{ post.date }}</p>
  <p>" {{ post.description }} "</p>
  <div class="text-right">
    <button
      type="button"
      class="btn btn-danger mr-3"
      (click)="deletePost()"
    >Delete
    </button>
    <a
      class="btn btn-primary"
      [routerLink]="['/posts', postId, 'edit']"
    >Edit
    </a>
  </div>
</div>



