<div id="preloader" *ngIf="preloader" style="display: block">
  <div class="loader"></div>
</div>
<div class="row mt-3" *ngIf="!preloader">
  <div class="col-4 mr-5">
    <h1>Posts</h1>
    <div class="alert alert-primary mt-3" *ngFor="let post of postsArray">
      <p><span style="font-size: 13px">Created on :</span> {{ post.date }}</p>
      <p><strong>{{ post.title }}</strong></p>
      <p class="text-right">
        <a
          class="btn btn-primary"
          [routerLink]="['/posts', post.id]"
          routerLinkActive="active"
        >Read more
        </a>
      </p>
    </div>
  </div>
  <div class="col-6">
    <router-outlet></router-outlet>
  </div>
</div>


