<div class="alert alert-secondary mt-5">
  <h1>{{ formTitle }}</h1>
  <form (ngSubmit)="savePost()">
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        name="title"
        [(ngModel)]="title"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        name="description"
        [(ngModel)]="description"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

